@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #F2F4FC;
}
* {
    font-family: Roboto;
    margin: 0px;
}


/* Fonts and styles */
h1 {
    font-size: 60px;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    font-weight: bold;
}
h3 {
    font-size: 40px;
    font-weight: bold;
}
h4 {
    font-size: 24px;
    font-weight: bold;
}
p {
    font-size: 20px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.blueButton {
    background-color: #072ACB;
    padding: 15px 30px;
    font-size: 17px;
    color: white;
    border: none;
}


/* header */
.navBarContainer {
    padding:  70px 170px 0px 170px;
    margin-bottom: 100px
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
}
.navBar .headerLogo {
    height: 20px;
}
.navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.navBar #liCenter {
    margin: 0px 60px 0px 60px;
}
.navBar li {
    font-size: 17px;
}


/* projectName */
.projectNameContainer {
    margin: 40px 170px 80px 170px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.projectNameContainer h1 {
    margin-bottom: 20px;
}
.projectDate {
    color: #6B708D;
}


/* projectContent */
.projectContent {
    /* margin: 40px 170px 80px 170px; */
    padding: 40px 170px 80px 170px;
}
.projectImage {
    width: 100%;
    height: 444px;
    box-shadow: rgba(52, 41, 82, 0.5) 0px 7px 29px 0px;
    margin-bottom: 70px;
}
.projectContent p {
    color: #6B708D;
}


/* footer */
footer {
    padding: 30px 170px 100px 170px;
    display: flex;
    justify-content: space-between;
}
.footAddress {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footAddress img {
    height: 30px;
    margin-bottom: 40px;
}
.linkContainer{
    width: 50%;
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.footLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 800px){
    p {
        font: 15px;
    }
    body {
        font-size: 16px;
    }
    .blueButton {
        background-color: #072ACB;
        padding: 5px 10px;
        font-size: 15px;
        color: white;
        border: none;
        border-radius: 25px;
    }
    /* header */
    .navBarContainer {
        height: 55px;
        margin: 0px;
        padding: 0px;
    }
    .navBar {
        height: 100%;
        display: flex;
        padding: 0px 7%;
    }
    .navBar ul {
        width: 50%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .navBar li {
        font-size: 15px;
    }
    .navBar #liCenter {
        margin: 0px;
    }
    /*ProjectName*/
    .projectNameContainer {
        margin-left: 7%;
        margin-right: 7%;
    }
    .projectNameContainer h1 {
        font-size: 50px;
    }
    /*projectContent*/
    .projectContent {
        padding-left: 7%;
        padding-right: 7%;
    }
    .projectImage {
        height: auto;
    }

    /* footer */
    footer {
        margin: 0;
        height: fit-content;
        padding: 15% 5%;
        margin-bottom: 50px;
    }
    .footAddress {
        margin-top: 5px;
    }
    .linkContainer {
        margin-left: 5%;
    }
    .linkContainer a {
        margin: 5px 0px 5px 0px; 
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 15px;
    }
    body {
        font-size: 14px;
    }
    .blueButton {
        background-color: #072ACB;
        padding: 5px 10px;
        font-size: 13px;
        color: white;
        border: none;
        border-radius: 25px;
    }
    /* header */
    .navBarContainer {
        height: 55px;
        margin: 0px;
        padding: 0px;
    }
    .navBar {
        height: 100%;
        display: flex;
        padding: 0px 2%;
    }
    .navBar ul {
        width: 50%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .navBar li {
        font-size: 13px;
    }
    .navBar #liCenter {
        margin: 0px;
    }

    /*ProjectName*/
    .projectNameContainer {
        margin-left: 7%;
        margin-right: 7%;
    }
    .projectNameContainer h1 {
        font-size: 45px;
    }
    /*projectContent*/
    .projectContent {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 0px;
    }
    .projectImage {
        height: auto;
    }

    /* footer */
    footer {
        margin: 0;
        height: fit-content;
        padding: 15% 5%;
        margin-bottom: 50px;
    }
    .footAddress {
        margin-top: 5px;
    }
    .linkContainer {
        flex-direction: column;
        margin-left: 5%;
    }
    .linkContainer a {
        margin: 5px 0px; 
    }
}